.rasm {
    background-image: url("/GitHub/Dars-kodlari/darslar/dars5/environment.jpg");

    background-repeat: no-repeat;

    /* contain, cover, left, top, center,  */

    background-position: left top;

    /* cover, contain  */
    background-size: cover;

    /* background-size: 100% 100%; */

    color: red;

    height: 500px;
}

.linear {
background-image: linear-gradient(to top left,
    rgba(0, 128, 0, 0.596), 
    rgba(255, 0, 0, 0.37),
    rgba(255, 255, 255, 0.493), 
    rgba(255, 255, 0, 0.5)), 
    url(/Pictures/Tesla.jpg);

    background-size: cover;
    height: 400px;

    text-decoration: underline  solid;
    text-decoration-style: double;      
}

.radial {
    background: radial-gradient(circle, red, yellow, blue);
    opacity: 0.3;
    height: 400px;
}
.aka {
    background-image: radial-gradient(circle, rgba(0, 0, 255, 0.336), rgba(0, 128, 0, 0.37),  rgba(255, 0, 0, 0.39)), url(/Pictures/audi.jpg);
    opacity: 0.5;

    height: 500px;
    background-repeat: no-repeat;

    background-size: cover;
}